.login-page-container {


  //background-image: url('http://www.placehold.it/1920x1080');
  background-image: url('../assets/img/forest-stitched-bg.png');
  background-size: cover;

    h1 {
      color: white;
    }
    &__content {
      border-radius: 3rem ;
      overflow: hidden;
    }

    &__gif-section {
      background-color: white;
      position: relative;
      background-image: url('https://64.media.tumblr.com/36e415e8b8c2781e6b1d5476f0747b35/tumblr_o13s5fLkYe1twrbr9o1_540.gifv');
      background-size: cover;
      background-repeat: no-repeat;
    }

    &__login-section {
      background-color: white ;

      &__signup-text {
        position: absolute;
        bottom: 0.5rem;
      }

    }


}

