

.notification-popup {

  &__container {
    background-color: $notification-yellow;
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;


    font-family: 'Open Sans', sans-serif ;
    font-weight: 600;

  }
}
