.signup-page-container {

  //background-image: url('http://www.placehold.it/1920x1080');
  background-image: url('../assets/img/forest-stitched-bg.png');
  background-size: cover;


    h1 {
      color: white;
    }

    &__content {
      border-radius: 3rem ;
      //border: 1px solid #DEE2E6 ;
      overflow: hidden;
      background-color: white;
      padding: 3rem;


    }

    &__signup-text {
      position: absolute;
      bottom: 0.5rem;
      margin: 0 auto;
    }
}

.signup-input-col {
  height: 8rem;

  &__error-message {
    position: absolute;
    bottom: 0rem;
  }
}

